<form class="form-inline" method="GET" action="/admin/users_search">
    <input class="form-control" name="firstName" type="text" placeholder="First Name"/>
    <input class="form-control" name="lastName" type="text" placeholder="Last Name"/>
    <input class="btn btn-default" type="submit" value="Search"/>
</form>