<div id="measurement-jumbopic" class="jumbotron">
    <div class="container">

        <div id ="jumbotron-registration" class="row">

            <div class="col-md-12">
                <h1 id="jumbotron-measurement-headline">Your Measurements</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 text-center">
            <ul class="list-group">

                <li class="list-group-item">
                    Height:
                    <span class="label label-default label-pill pull-xs-right">14</span>

                </li>

                <li class="list-group-item">
                    Weight:
                    <span class="label label-default label-pill pull-xs-right">2</span>
                </li>

                <li class="list-group-item">
                    Neck:
                    <span class="label label-default label-pill pull-xs-right">1</span>
                </li>

                <li class="list-group-item">
                    Shoulder:
                    <span class="label label-default label-pill pull-xs-right">1</span>
                </li>

                <li class="list-group-item">
                    Chest:
                    <span class="label label-default label-pill pull-xs-right">1</span>
                </li>

                <li class="list-group-item">
                    Torso:
                    <span class="label label-default label-pill pull-xs-right">1</span>
                </li>

                <li class="list-group-item">
                    Sleeve:
                    <span class="label label-default label-pill pull-xs-right">1</span>
                </li>

                <li class="list-group-item">
                    Waist:
                    <span class="label label-default label-pill pull-xs-right">1</span>
                </li>

                <li class="list-group-item">
                    Inseam:
                    <span class="label label-default label-pill pull-xs-right">1</span>
                </li>

                <li class="list-group-item">
                    Outseam:
                    <span class="label label-default label-pill pull-xs-right">1</span>
                </li>

                <li class="list-group-item">
                    Thigh:
                    <span class="label label-default label-pill pull-xs-right">1</span>
                </li>

                <li class="list-group-item">
                    Shirt fit preference:
                    <span class="label label-default label-pill pull-xs-right">Slim</span>
                </li>

                <li class="list-group-item">
                    Pants fit preference:
                    <span class="label label-default label-pill pull-xs-right">Slim</span>
                </li>

            </ul>
        </div>
    </div>
</div>