<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        <title>Hemmingway</title>
    </head>

    <body>
        {{{ body }}}
    </body>

    <footer>
        <div class=footer-container >
            <div id="contact-us">
                <p class="contact-us-email">Questions or feedback? Contact us:</p>
                <a href="mailto:info@hemmingway.co?Subject=Feedback%20For%20Hemmingway" target="_top">info@hemmingway.co</a>
            </div>
        </div>
    </footer>
</html>
