<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <p class="navbar-reify-text">REIFY</p>
            </a>
        </div>
    </div>
</nav>


<div class="container text-center crossword-white">
    <div class="jumbotron" id="boutique-crawl-jumbotron">
        <p id="events-title">BOUTIQUE CRAWL</p>
    </div>

    <div class="row">
        <div class="col-sm-2 col-sm-offset-4">
            <div id="event-date">
                <p>6.11.16</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="event-time">
                <p>Noon</p>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <p>Join us in shopping for your favorite clothes with discounts from our boutique crawl participants</p>
        </div>
    </div>

    <div class="text-center" id="events-divider"></div>

    <div class="row" id="boutique-crawl-details">
        <div class="col-sm-4 col-sm-offset-2" >
            <img src="assets/img/boutique-crawl-participants.png"/>
        </div>
        <div class="col-sm-4">
            <img src="assets/img/union-street-map.png"/>
        </div>
    </div>

</div>