<div class="menu-container">
    <div class="inner-container">
        <div class="new-logo-container">
            <a href="/">
                <img class="logo" src="/assets/common/logo.png"/>
            </a>
        </div>
    </div>
</div>
<div id="extension-top-container">
    <div class="inner-container">
        <h2 class="header">FAQ</h2>
    </div>
</div>
<div id="faq-container">
    <div id="faq-container-left-column" class="faq-accordion">
        <div class="faq-section" id="faq-getting-started">
            <p class="header-trump-east-1">GETTING STARTED</p>
            <img class="faq-divider-with-circle" src="/assets/common/divider_with_circle.png" />
            <a class="desc-text faq-text-item" href="#faq-content-1">What is Hemmingway?</a>
            <div class="faq-section-content" id="faq-content-1">
                <p class="menu-text">
                    We are here as your online service for getting you the perfect fit of clothes.
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-2">How does it work?</a>
            <div class="faq-section-content" id="faq-content-2">
                <p class="menu-text">
                    Hemmingway integrates with your online shopping experience. When purchasing your clothes, your items will ship directly to us where our seamstresses will perform alterations according to your body measurements. Your body measurements are gathered during the sign up process and once the alterations are done, we ship the clothes directly to your door
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-3">How long will it take for me to get my clothes?</a>
            <div class="faq-section-content" id="faq-content-3">
                <p class="menu-text">
                    Our typical turn around time is one week
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-4">What happens once I place my order?</a>
            <div class="faq-section-content" id="faq-content-4">
                <p class="menu-text">
                    You will receive a confirmation email once your order is processed. Your order will be sent to the retailers and you will recieve a confirmation email with tracking information from each purchase
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-5">How do I sign up?</a>
            <div class="faq-section-content" id="faq-content-5">
                <p class="menu-text">
                    You can sign up by on-boarding <a href="/">here</a>
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-6">Do I have to input the body measurements?</a>
            <div class="faq-section-content" id="faq-content-6">
                <p class="menu-text">
                    Body measurements are optional - but it does help us with alterations if we know yours. If you want to learn how to measure yourself, click <a href="/">here</a>
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-7">What do I do after I finish the sign-up process?</a>
            <div class="faq-section-content" id="faq-content-7">
                <p class="menu-text">
                    Shop! Instead of adding clothes to the shopping carts of retailer’s websites, add the clothes directly to Hemmingway’s Order Hub page. Head over to the <a href="/"> Order Hub</a> page for more information on how to use it
                </p>
            </div>
        </div>
        <div class="faq-section" id="faq-pricing">
            <p class="header-trump-east-1">PRICING</p>
            <img class="faq-divider-with-circle" src="/assets/common/divider_with_circle.png" />
            <a class="desc-text faq-text-item" href="#faq-content-8">How much does it cost to use Hemmingway?</a>
            <div class="faq-section-content" id="faq-content-8">
                <p class="menu-text">
                    Our alteration is based on a flat fee of $25/tops and $15/pants. You do not pay extra to get it perfected if there is a rare scenario where multiple alterations are necessary
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-9">Do I need to pay for shipping?</a>
            <div class="faq-section-content" id="faq-content-9">
                <p class="menu-text">
                    Ground shipping is included in our flat fee. You can specify any shipping other than ground on the Order Hub page before checking out
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-10">At what point is my credit card charged?</a>
            <div class="faq-section-content" id="faq-content-10">
                <p class="menu-text">
                    Your credit card will be charged once for every retailer a purchase is made from. Additionally, one Hemmingway charge will be made for alterations after the process is complete
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-11">What happens if I'm not satisfied with the alteration? Do I need to pay for it to be redone?</a>
            <div class="faq-section-content" id="faq-content-11">
                <p class="menu-text">
                    We strive to deliver only perfectly fitting clothes to your doorstep. Please contact us at <a href="/">info@hemmingway.co</a> if you find any of our alterations unsatisfactory.
                </p>
            </div>
        </div>
    </div>
    <div id="faq-container-right-column" class="faq-accordion">
        <div class="faq-section" id="faq-services">
            <p class="header-trump-east-1">SERVICES</p>
            <img class="faq-divider-with-circle" src="/assets/common/divider_with_circle.png" />
            <a class="desc-text faq-text-item" href="#faq-content-12">What kind of alterations can Hemmingway do?</a>
            <div class="faq-section-content" id="faq-content-12">
                <p class="menu-text">
                    Hemmingway can do everything that your tailor can do, without the hassle! The services we perform include:
                </p>
                <div>
                    <ul class="header-trump-east-2">SHIRTS
                        <li class="menu-text">Shirt sleeves lengthen taken up</li>
                        <li class="menu-text">Shirt side seams taken in</li>
                        <li class="menu-text">Shirt sleeves taken in</li>
                        <li class="menu-text">Shirt hem taken up</li>
                        <li class="menu-text">Shirt shoulders taken in</li>
                    </ul>
                    <ul class="header-trump-east-2">PANTS
                        <li class="menu-text">Pants seat/waistband taken in</li>
                        <li class="menu-text">Taper pant legs</li>
                        <li class="menu-text">Take up pant hem - regular hem, blind stich, original hem, cuffed hem</li>
                    </ul>
                    <ul class="header-trump-east-2">OTHER
                        <li class="menu-text">Dresses</li>
                        <li class="menu-text">Skirts</li>
                        <li class="menu-text">Jackets</li>
                        <li class="menu-text">Coats</li>
                        <li class="menu-text">Ties</li>
                    </ul>
                </div>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-13">Are all fabric and material alterable?</a>
            <div class="faq-section-content" id="faq-content-13">
                <p class="menu-text">
                    All material except for silk, satin, and cashmere is alterable
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-14">Does this work across all brands?</a>
            <div class="faq-section-content" id="faq-content-14">
                <p class="menu-text">
                    Absolutely! Our Order Hub page takes care of the cross-brand ordering
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-16">Do my clothes get shipped to me or to Hemmingway first?</a>
            <div class="faq-section-content" id="faq-content-16">
                <p class="menu-text">
                    Your clothes get shipped to us straight from the retailers. After your clothes have been perfected, they will then be immediately shipped to you
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-17">Who is altering my clothes?</a>
            <div class="faq-section-content" id="faq-content-17">
                <p class="menu-text">
                    Hemmingway has a network of professional local tailors who will analyze, alter and ship your clothes.
                </p>
            </div>
        </div>

        <div class="faq-section" id="faq-contact">
            <p class="header-trump-east-1">CONTACT</p>
            <img class="faq-divider-with-circle" src="/assets/common/divider_with_circle.png" />
            <a class="desc-text faq-text-item" href="#faq-content-18">How do I ask for help?</a>
            <div class="faq-section-content" id="faq-content-18">
                <p class="menu-text">
                    We can be reached at <a href="/">info@hemmingway.co</a>
                </p>
            </div>
            <a class="desc-text faq-text-item" href="#faq-content-19">How do I communicate directly to the seamstresses?</a>
            <div class="faq-section-content" id="faq-content-19">
                <p class="menu-text">
                    We will handle all the communication. Just tell us what you want, and we will translate it into tailor-lingo that sometimes can be intimidating
                </p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/scripts/faq.js"></script>