<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="topBox"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p id="reifyLogo">REIFY
                <img id="lineSpec" src="assets/lineMedium.png">
            </p>
            <p id="tagLine">make your perfect fit a reality</p>
        </div>
    </div>
    <div class="row">
        <div id="launchBox" class="col-md-4 col-md-offset-6">
            <div id="launchInfo">
                <p id="launchInfo">LAUNCHING</p>
                <p id="launchInfo">06.11.2016</p>
            </div>
            <!-- Render waitlist signup form -->
            {{> waitlist waitlisted=waitListRespMsg }}
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Come out to our Boutique Crawl in the Marina District!</h4>
            </div>
            <div class="modal-body">
                 <p>Saturday 6/11/16 come out and participate in our Boutique Crawl for discounts, bubbles, and free alterations! </p>
                <p>To view boutique crawl participants, discounts, and event details visit our events page <a href="https://www.reify.fit/events">reify.fit/events</a>!</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>