<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="topBox"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p id="reifyLogo">REIFY
                <img id="lineSpec" src="assets/lineMedium.png">
            </p>
            <p id="tagLine">make your perfect fit a reality.</p>
        </div>
    </div>
    <div class="row">
        <div id="launchBox" class="col-md-4 col-md-offset-6">
            <div id="launchInfo">
                <p id="launchInfo">LAUNCHING</p>
                <p id="launchInfo">06.11.2016</p>
            </div>
            <!-- Render waitlist signup form -->
            {{> waitlist waitlisted=waitListRespMsg }}
        </div>
    </div>

</div>