<link rel="stylesheet" href="/public/css/index.css">
<div>
    <div class="whiteBlock">
    </div>
    <div style="background:rgba(0,0,0,0.05), position: relative;">
        <img src="assets/manHuge.png" class="img-responsive desaturate">
    </div>
</div>