<div id="topBox">
</div>
<div>
    <h1 id="reifyLogo">REIFY</h1>
    <h4 id="tagline">make your perfect fit a reality</h4>
    <div>
        <img id="lineImage" src="assets/lineMedium.png">
    </div>
<div id= "launchDate">
    <p>LAUNCHING<br>
        06.01.2016
    </p>
</div>
        <div id="waitlist">
            <form action="#">
                <input id="joinField" type="email" name="email" placeholder="Your Email"><br>
                <button id="joinButton">JOIN WAITLIST</button>
            </form>
        </div>
</div>