<div class="menu-container">
    <div class="inner-container">
        <div class="logo-container">
            <a href="/">
                <img class="logo" src="/assets/common/logo.png"/>
                <span>HEMMINGWAY</span>
            </a>
        </div>

        <div class="menu-item-container">
            <a class="menu-item menu-item-selected" href="/">Home</a><span>&mdash;</span>
            <a class="menu-item" href="/shirt_measurements">Get Started</a><span>&mdash;</span>
            <a class="menu-item" href="/faq">FAQ</a><span>&mdash;</span>
            <a class="menu-item" href="/dashboard/login">Log In</a>
        </div>
    </div>
</div>

<div id="landing-splash-container">
    <div id="signup-container">
    </div>
</div>

<div id="landing-explanation-container" class="explanation-outer-container">
    <div class="inner-container">
        <p class="explanation-header">
            <img class="crosshatch-image" src="/assets/crosshatch_colored.png"/>
            <span class="header-text">HOW IT WORKS</span>
            <img class="crosshatch-image" src="/assets/crosshatch_colored.png"/>
        </p>
        <div class="explanation-container">
            <div class="explanation-item">
                <img class="explanation-image" src="/assets/landing/shop_online.png"/>
                <p class="explanation-item-description">Use the Hemmingway browser extension for Google Chrome to shop on online for shirts &amp; pants. Our Hemmingway icon will automatically appear next to items that are alterable on supported sites</p>
            </div>

            <div class="explanation-item middle-explanation-item">
                <img class="explanation-image" src="/assets/landing/get_altered.png"/>
                <p class="explanation-item-description">Once the clothes are ordered, we ship them to our Hemmingway seamstress who will tailor the clothes to your measurements.</p>
            </div>

            <div class="explanation-item">
                <img class="explanation-image" src="/assets/landing/ship_to_you.png"/>
                <p class="explanation-item-description">After our seamstresses alter your clothes, they are sent straight to you! No charges are made until we confirm your items are altered correctly.</p>
            </div>
        </div>
    </div>

 <!--   <div class="middle-bottom-crosshatch-container">
        <img class="crosshatch-image" src="/assets/crosshatch_colored.png"/>
    </div>-->
</div>

<div id="landing-info-container">
    <img class="landing-info-price-section" src="assets/landing/price_section.png">
    
<!--
    <div class="middle-bottom-crosshatch-container">
        <img class="crosshatch-image" src="/assets/crosshatch_colored.png"/>
    </div>
-->
</div>

<div class="call-to-action-container" onclick="javascript:location.href='/shirt_measurements'">
    <div class="inner-container">
        <div class="large-signup"></div>
    </div>
</div>