<div class="container">
    <div class="page-header">
        <h1 id="manual-signup-heading">REIFY</h1>
    </div>

    <!-- If this page is reloaded after user was successfully signed up, show success alert -->
    {{#if success }}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p>{{ success }}</p>
        </div>
    {{/if}}

    <form role="form" method="POST" action="/user_signup">

        <!-- Personal info -->
        <div class="form-group">
            <label for="first-name">First name:</label>
            <input type="text" id="first-name" name="first-name" placeholder="Enter first name"
                {{> input_text error=errors.first-name value=values.first-name }}
        </div>
        <div class="form-group">
            <label for="last-name">Last name:</label>
            <input type="text" id="last-name" name="last-name" placeholder="Enter last name"
                {{> input_text error=errors.last-name value=values.last-name }}
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter email"
                {{> input_text error=errors.email value=values.email }}
        </div>
        <div class="form-group">
            <label for="addr1">Address line 1:</label>
            <input type="text" id="addr1" name="addr1" placeholder="Enter address"
                {{> input_text error=errors.addr1 value=values.addr1 }}
        </div>
        <div class="form-group">
            <label for="addr2">Address line 2:</label>
            <input type="text" id="addr2" name="addr2" placeholder="Enter address"
                {{> input_text error=errors.addr2 value=values.addr2 }}
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" placeholder="Enter city"
            {{> input_text error=errors.city value=values.city }}
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <input type="text" id="state" name="state" placeholder="Enter state"
                {{> input_text error=errors.state value=values.state }}
        </div>
        <div class="form-group">
            <label for="zip">Zip:</label>
            <input type="text" id="zip" name="zip" placeholder="Enter zip"
                {{> input_text error=errors.zip value=values.zip }}
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" id="pwd" name="pass" placeholder="Enter password"
                {{> input_text error=errors.pass value=values.pass }}
        </div>
        <div class="form-group">
            <label for="conf-pwd">Confirm password:</label>
            <input type="password" id="conf-pwd" name="conf-pass" placeholder="Enter password"
                {{> input_text error=errors.first-name value=values.conf_pass }}
        </div>

        <!-- Measurements -->
        <div class="page-header">
            <h3>Measurements</h3>
        </div>
        <div class="form-group">
            <label for="height">Height:</label>
            <input type="text" id="height" name="height" placeholder="Enter height"
                {{> input_text error=errors.height value=values.height }}
        </div>
        <div class="form-group">
            <label for="wieght">Weight:</label>
            <input type="text" id="weight" name="weight"  placeholder="Enter weight"
                {{> input_text error=errors.weight value=values.weight }}
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender" placeholder="Enter gender"
                {{> input_text error=errors.gender value=values.gender }}
        </div>
        <div class="form-group">
            <label for="neck">Neck:</label>
            <input type="text" id="neck" name="neck" placeholder="Enter neck"
            {{> input_text error=errors.neck value=values.neck }}
        </div>
        <div class="form-group">
            <label for="shoulder">Shoulder:</label>
            <input type="text" id="shoulder" name="shoulder" placeholder="Enter shoulder"
            {{> input_text error=errors.shoulder value=values.shoulder }}
        </div>
        <div class="form-group">
            <label for="chest">Chest:</label>
            <input type="text" id="chest" name="chest" placeholder="Enter chest"
            {{> input_text error=errors.chest value=values.chest }}
        </div>
        <div class="form-group">
            <label for="torso">Torso:</label>
            <input type="text" id="torso" name="torso" placeholder="Enter torso"
            {{> input_text error=errors.torso value=values.torso }}
        </div>
        <div class="form-group">
            <label for="sleeve">Sleeve:</label>
            <input type="text" id="sleeve" name="sleeve" placeholder="Enter sleeve"
            {{> input_text error=errors.sleeve value=values.sleeve }}
        </div>
        <div class="form-group">
            <label for="shirt-fit-pref">Shirt fit preference:</label>
            <select class="form-control" id="shirt-fit-pref" name="shirt-fit-pref">
                <option>Classic</option>
                <option>Regular</option>
                <option>Slim</option>
                <option>Extra slim</option>
            </select>
        </div>
        <div class="form-group">
            <label for="waist">Waist:</label>
            <input type="text" id="waist" name="waist" placeholder="Enter waist"
            {{> input_text error=errors.waist value=values.waist }}
        </div>
        <div class="form-group">
            <label for="inseam">Inseam:</label>
            <input type="text" id="inseam" name="inseam" placeholder="Enter inseam"
            {{> input_text error=errors.inseam value=values.inseam }}
        </div>
        <div class="form-group">
            <label for="outseam">Outseam:</label>
            <input type="text" id="outseam" name="outseam" placeholder="Enter outseam"
            {{> input_text error=errors.outseam value=values.outseam }}
        </div>
        <div class="form-group">
            <label for="thigh">Thigh:</label>
            <input type="text" id="thigh" name="thigh" placeholder="Enter thigh"
            {{> input_text error=errors.thigh value=values.thigh }}
        </div>
        <div class="form-group">
            <label for="pant-fit-pref">Pants fit preference:</label>
            <select class="form-control" id="pant-fit-pref" name="pant-fit-pref">
                <option>Relaxed</option>
                <option>Straight</option>
                <option>Slim</option>
                <option>Skinny</option>
            </select>
        </div>
        <div class="form-group">
            <label for="notes">Notes:</label>
            <textarea rows="3" id="notes" name="notes" placeholder="Enter notes"
            {{> input_text error=errors.notes value=values.notes }} </textarea>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>