<div id="partners-jumbopic" class="jumbotron">
    <div class="container">
        <div id ="" class="row">
            <div class="col-md-12">
                <h1 id="jumbotron-partners-headline">Boutique Partners</h1>
            </div>
        </div>
    </div>
</div>

<div id="partners-list-container" class="container-fluid">
    <div class="row">
        <div class="col-sm-6 text-center"><p class="partner-name">Closet 1951</p></div>
        <div class="col-sm-6 text-center"><p class="partner-name">Sui Generis</p></div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-center"><p class="partner-name">Simply Chic</p></div>
        <div class="col-sm-6 text-center"><p class="partner-name">Gala Boutique</p></div>
    </div>
</div>
<div id="boutique-partners" class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <iframe src="https://www.google.com/maps/d/embed?mid=1a8yI7htnuAfXH4Co4Tvs_7SR1zI" width="350" height="300"></iframe>
        </div>
    </div>
</div>