<div class="container text-center" id="set-password-container">
    <p id="set-password-logo">REIFY</p>

    <div class="col-md-8 col-md-offset-2" id="set-password-desc">
        <p> An account has been created for you already. Set your password below to view your current orders and account info. Now that your body measurements are on file, you'll be able to shop anywhere online and ensure a guaranteed perfect fit </p>
    </div>

    <div class="panel panel-default col-md-4 col-md-offset-4" id="set-password-form">
        <div class="panel-body">
            <form role="form-horizontal" >
                <div class="form-group text-center">

                    <div >
                        <p class="form-control-static">someone@example.com
                            <a href="#" data-toggle="popover" data-trigger="hover" data-content="Not you? Shoot us an email to info@reify.fit and we'll get it sorted out!">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="form-group">

                    <div >
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                    </div>
                </div>
                <div class="form-group">
                    <div >
                        <button type="submit" class="btn btn-default btn-block" >Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>