<div id="jumbopic" class="jumbotron">
    <div class="container">

        <div id ="jumbotron-registration" class="row">

            <div class="col-md-12 col-md-offset-2">
                <h1 id="reify-logo">REIFY</h1>
                <p id="tag-line">make your perfect fit a reality.</p>
                <p class="lead">
                <div class="btn-group">
                    <a class="btn btn-dark btn-md" href="/login">Login</a>
                    <button type="button" class="btn btn-dark btn-md" data-toggle="modal" data-target="#sign-up-modal">
                        Sign Up!
                    </button>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>


<section id="reify-info">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h1 id="reify-info-works" class="reify-info-item">How it Works</h1>
                <hr id="reify-info-hr">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="reify-info-item">
                                <span>
                                    <img class="reify-info-icon" src="/assets/img/measuring_tape.png">
                                </span>
                            <h4>
                                <strong>Get Measured!</strong>
                            </h4>
                            <p>Signup online to calculate your fit</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="reify-info-item"">
                                <span>
                                    <img class="reify-info-icon" src="/assets/img/shop_online.png">
                                </span>
                        <h4>
                            <strong>Shop Anywhere!</strong>
                        </h4>
                        <p>Shop your favorite clothes anywhere</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="reify-info-item">
                                <span>
                                    <img class="reify-info-icon" src="/assets/img/get_altered.png">
                                </span>
                        <h4>
                            <strong>Get it Altered!</strong>
                        </h4>
                        <p>REIFY will tailor your perfect fit</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="reify-info-item">
                                <span>
                                    <img class="reify-info-icon" src="/assets/img/ship_to_you.png">
                                </span>
                        <h4>
                            <strong>Ship it to You!</strong>
                        </h4>
                        <p>We’ll ship directly to you</p>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<aside id="callout-section">
    <div class="text-vertical-center">
        <h1>First Alteration is Free!</h1>
        <div class="btn-group">
            <button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#sign-up-modal">
                Sign Up!
            </button>
        </div>
    </div>
</aside>

<!-- Modal -->
<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">How to sign up</h4>
            </div>
            <div class="modal-body">
                <p><strong>We're stitching things together to get you towards your perfect fit.</strong></p>
                <div class="text-center">
                    <p>In the meantime, come to any of our <a href="/partners">partner boutiques</a> to get your body measurements put into our system</p>
                    <p>OR</p>
                    <p>Join our waitlist</p>
                    <form role="form" class="form-inline" method="POST" action="/waitlist">
                        <input class="form-control" type="email" id="waitlist-email" name="email" placeholder="Enter email" />
                        <button type="submit" class="btn btn-default">Join!</button>
                    </form>
                </div>
                <p>Once your body measurements are in our system, you'll be able to shop anywhere online with a guaranteed perfect fit.</p>
            </div>
        </div>
    </div>
</div>
