<div id="jumbopic" class="jumbotron">
    <div class="container">

        <div id ="jumbotron-registration" class="row">

            <div class="col-md-12 col-md-offset-2">
                <h1 id="reify-logo">REIFY</h1>
                <p id="tag-line">make your perfect fit a reality.</p>
                <p class="lead">
                <div class="btn-group">
                    <a class="btn btn-dark btn-md" href="/login">Login</a>
                    <button type="button" class="btn btn-dark btn-md" data-toggle="modal" data-target="#myModal">
                        Sign Up!
                    </button>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>


<section id="reify-info">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h1 id="reify-info-works" class="reify-info-item">How it Works</h1>
                <hr id="reify-info-hr">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="reify-info-item">
                                <span>
                                    <img class="reify-info-icon" src="/assets/img/measuring_tape.png">
                                </span>
                            <h4>
                                <strong>Get Measured!</strong>
                            </h4>
                            <p>Signup online to calculate your fit</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="reify-info-item"">
                                <span>
                                    <img class="reify-info-icon" src="/assets/img/shop_online.png">
                                </span>
                        <h4>
                            <strong>Shop Anywhere!</strong>
                        </h4>
                        <p>Shop your favorite clothes anywhere</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="reify-info-item">
                                <span>
                                    <img class="reify-info-icon" src="/assets/img/get_altered.png">
                                </span>
                        <h4>
                            <strong>Get it Altered!</strong>
                        </h4>
                        <p>REIFY will tailor your perfect fit</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="reify-info-item">
                                <span>
                                    <img class="reify-info-icon" src="/assets/img/ship_to_you.png">
                                </span>
                        <h4>
                            <strong>Ship it to You!</strong>
                        </h4>
                        <p>We’ll ship directly to you</p>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<aside id="callout-section">
    <div class="text-vertical-center">
        <h1>First Alteration is Free!</h1>
        <div class="btn-group">
            <button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#myModal">
                Sign Up!
            </button>
        </div>
    </div>
</aside>